/* navbar toggler */
input#nav-toggle:checked ~ label#menu-button .menu-open-icon {
  @apply hidden;
}

input#nav-toggle:checked ~ label#menu-button .menu-close-icon {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

@media (min-width: 980px) {
  label#menu-button {
    display: none;
  }

  #nav-menu {
    display: flex;
    width: auto;
    order: 2;
  }
}

/* form style */
.form-inputs * {
  @apply mb-5 leading-10;
}

.form-input,
.form-textarea {
  @apply rounded-md border-border py-3 text-text focus:border-primary focus:ring-transparent;
}
